[Unit]
Description=The PHP 8.0 FastCGI Process Manager
Documentation=man:php-fpm8.0(8)
After=network.target

[Service]
Type=simple
ExecStart=/opt/hb/php80/sbin/php-fpm --nodaemonize --fpm-config /etc/php/80/php-fpm.conf
#ExecStartPost=-/usr/lib/php/php-fpm-socket-helper install /run/php/php-fpm.sock /etc/php/80/fpm/pool.d/www.conf 80
#ExecStopPost=-/usr/lib/php/php-fpm-socket-helper remove /run/php/php-fpm.sock /etc/php/80/fpm/pool.d/www.conf 80
ExecReload=/bin/kill -USR2 $MAINPID
RuntimeDirectory=php-fpm

[Install]
WantedBy=multi-user.target