[Unit]
Description=PGWeb
Wants=network-online.target
After=network-online.target postgresql.service

[Service]
ExecStart=/usr/local/pgweb/pgweb --bind 0.0.0.0
User=pgweb
Group=pgweb
Type=simple
Restart=on-failure
RestartSec=5
# Logging
StandardOutput=append:/var/log/pgweb.log
StandardError=append:/var/log/pgweb.log

[Install]
WantedBy=multi-user.target